<div class="show_main">
  <%= render partial: "posts/header"%>
  <div class="inner">
    <div class="user__wrapper">
    <%if @user.image.present?%>
      <div class="user_image">
      <p class="pro_camera"><i class="fas fa-camera-retro camera"></i></p>
      <p class="pro_image"><%= image_tag @user.image.variant(resize: '180x180'), class: 'card__img' if @user.image.attached? %></p>
      </div>
      <% else %>
      <div class="user_image">
       <p class="pro_camera"><i class="fas fa-camera-retro camera"></i></p>
      <i class="fas fa-user-alt user"></i>
      </div>
      <% end %>
      <div class="name">
        <i class="fas fa-pencil-alt pencil"></i>
        <p class="name__col1">名前:</p>
        <p class="profile__col2"><%= @user.nickname %></p>
      </div>
      <div class="profile">
        <i class="fas fa-pencil-alt pencil"></i>
        <p class="name__col1">一言プロフィール:</p>
        <p class="profile__col2"><%= @user.profile %></p>
      </div>
      <h2 class="page-heading_user">
        <%= "#{@user.nickname}さんのお題一覧"%>
      </h2>
      <div class="user__card">
        <%= render partial: "posts/post", collection:@post %>
      </div>
    </div>
  </div>
</div>