<main class="user_show_main">
  <%= render partial: "posts/header"%>
  <div class="user_show_inner">
    <div class="user__wrapper">
    <%if @user.image.present?%>
      <div class="user_image">
      <p class="pro_camera"><i class="fas fa-camera-retro camera"></i></p>
      <p class="pro_image"><%= image_tag @user.image.variant(resize: '180x180'), class: 'card__img' if @user.image.attached? %></p>
      </div>
      <% else %>
      <div class="user_image">
       <p class="pro_camera"><i class="fas fa-camera-retro camera"></i></p>
      <i class="fas fa-user-alt user"></i>
      </div>
      <% end %>
      <div class="name">
        <i class="fas fa-pencil-alt pencil"></i>
        <p class="name__col1">名前:</p>
        <p class="profile__col2"><%= @user.nickname %></p>
      </div>
      <div class="profile">
        <i class="fas fa-pencil-alt pencil"></i>
        <p class="name__col1">一言プロフィール:</p>
        <p class="profile__col2"><%= @user.profile %></p>
      </div>
      
      <h2 class="like-heading_user">
      <i class="fas fa-heartbeat heart"></i><%= "#{@user.nickname}さんの好きなお題"%><i class="fas fa-heartbeat heart"></i>
      </h2>
      
      <div class=like-list >
       <% if @post_like.present? %>
         <div class="likes_lists">
         <% @post_like.each do |post| %>
         <% if post.title.present? %>
         <div class="like_title">
         <i class="fas fa-star star"></i><%= post.title %>
         </div>
         <%else%>
         <div class="like_title">
         <i class="fas fa-star image_star"></i><%= image_tag post.image.variant(resize: '60x60'), class: 'like__img' if @user.image.attached? %>
         <div class="like_sentence">
         <%= post.sentence%>
         </div>
         </div>
         <% end %>
        <% end %>
       <% end %>
       </div>
       </div>

      <h2 class="page-heading_user">
        <i class="fas fa-lightbulb light"></i><%= "#{@user.nickname}さんのお題一覧"%><i class="fas fa-lightbulb light"></i>
      </h2>
      <div class="user__card">
        <%#= render partial: "posts/post", collection:@post %>
        <% @post.each do |post| %>

        <div class="card">
          <div class="genre" >
          <%= post.genre.name %>
        </div>
        <div class="card__body">
        <div class="main_image">
           <%= image_tag post.image.variant(resize: '180x180'), class: 'card__img' if post.image.attached? %>
        </div>
        <div class="main__title">
          <p class="title"><%= post.title %></p>
        </div>
        <%= link_to " #{post.user.nickname}さんの回答", user_path(post.user_id), class: :card__user %>
        <div class="main__sentence">
          <p class="sentence"><%= post.sentence %></p>
          <%=link_to 'お題に挑戦する', post_path(post.id), class: :answer_title %>
        </div>
      </div>
        <p class="count"><i class="fas fa-grin-squint-tears unlike-btn"></i><%= post.post_likes.count %></p>
     </div>
      <% end %>
     </div>
    </div>
  </div>
</main>