<%= form_with model: post, local: true do |f|%>
<%= render 'error', model: f.object %>
  <div class="field">
    <p class="form__text_1">ジャンル </P>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box"}) %>
  </div>

  <div class="field">
    <%= f.label :image, "写真で一言" ,class: :form__text_1 %><br />
    <%= f.file_field :image %>
  </div>

       
  <div class="field">
    <%= f.label :title, "お題", class: :form__text_1 %><br />
    <%= f.text_area :title, class: :form__text, placeholder:"50字以内でお答えください"%>
  </div>

  <div class="field">
    <%= f.label :sentence, "出題者の回答", class: :form__text_1 %><br />
    <%= f.text_area :sentence, class: :form__text, placeholder:"50字以内でお答えください" %>
  </div>

  <div class="actions">
    <%= f.submit "出題する", class: :form__btn  %>
  </div>
<% end %>