<div class="card">
  <div class="genre" >
    <%= post.genre.name %>
  </div>
  <div class="card__body">
    <div class="main_image">
      <%= image_tag post.image.variant(resize: '180x180'), class: 'card__img' if post.image.attached? %>
    </div>
    <div class="main__title">
      <p class="title"><%= post.title %></p>
    </div>
    <%= link_to " #{post.user.nickname}さんの回答", user_path(post.user_id), class: :card__user %>
    <div class="main__sentence">
      <p class="sentence"><%= post.sentence %></p>
    <%=link_to 'お題に挑戦する', post_path(post.id), class: :answer_title %>
    </div>
  </div>
</div>