<div class="card">
  <div class="genre" >
    <%= post.genre.name %>
  </div>
  <div class="card__body">
    <div class="main_image">
      <%= image_tag post.image.variant(resize: '250x250'), class: 'card__img' if post.image.attached? %>
    </div>
    <div class="main__title">
      <%= post.title %>
    </div>
    <%= link_to " #{post.user.nickname}さんの回答", root_path, class: :card__user %>
    <div class= "box">
      <%= post.sentence %>
    </div>
    <%=link_to 'お題に挑戦する', post_path(post.id), class: :answer_title %>
  </div>
</div>