<main class="main">
  <%= render partial: "header"%>
  <div class="inner">
  <h2 class="rank_title"><i class="fas fa-crown crown"></i>お題ポイントランキング<i class="fas fa-crown crown"></i></h2> 
    <div class="index_ranking">
    <% like = 0 %>
    <% j = 1 %>
    <% @post_like.each.with_index(1) do |post, i| %>
     <% if post.title.present? %>
      <% if i == 1 %>
        <% like = post.post_likes.count %>
      <% end %>
      <% if post.post_likes.count != like %>
        <% j = i %>

      <div class= "ranking">
        <p class="ranking_number">第<%= j %>位</p>
        <p class="ranking_message"><%= post.title %></p>
        <p class= "smile"><i class="fas fa-grin-squint-tears unlike-btn"></i></p> 
        <% like = post.post_likes.count %>
      </div>
  
      <% else %>
      <div class= "ranking">
      <% like = post.post_likes.count %>
      <p class="ranking_number">第<%= j %>位</p>
      <p class="ranking_message"><%= post.title %></p>
      <p class= "smile"><i class="fas fa-grin-squint-tears unlike-btn"></i></p> 
      <p class ="ranking_count"><%= post.post_likes.count %></p>
      </div>
      <% end %>
      <% else %>
     
     <% if i == 1 %>
        <% like = post.post_likes.count %>
      <% end %>
      <% if post.post_likes.count != like %>
        <% j = i %>

      <div class= "ranking">
        <p class="image_ranking_number">第<%= j %>位</p>
        <%= image_tag post.image.variant(resize: '60x60'), class: 'rank__img' if post.image.attached? %>
        <p class="ranking_sentence"><%= post.sentence %></p>
        <p class= "image_smile"><i class="fas fa-grin-squint-tears unlike-btn"></i></p> 
        <% like = post.post_likes.count %>
      </div>
  
      <% else %>
      <div class= "ranking">
      <% like = post.post_likes.count %>
      <p class="image_ranking_number">第<%= j %>位</p>
      <%= image_tag post.image.variant(resize: '60x60'), class: 'rank__img' if post.image.attached? %>
      <p class="ranking_sentence"><%= post.sentence %></p>
      <p class= "image_smile"><i class="fas fa-grin-squint-tears unlike-btn"></i></p> 
      <p class ="image_ranking_count"><%= post.post_likes.count %></p>
      </div>
      <% end %>
      <% end %>

    <% end %>
    </div>
    <h2 class="question_main"><i class="fas fa-lightbulb light"></i>お題一覧<i class="fas fa-lightbulb light"></i></h2>
    <div class="card__wrapper">
      <%= render partial: 'post', collection: @post %>
    </div>
  </div>
</main>
