<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <div class="show__genre">
        <%= @post.genre.name %>
      </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="post__manage">
          <%= link_to "編集する", edit_post_path(@post.id), class: :post__btn %>
          <%= link_to "削除する", post_path(@post.id), method: :delete, class: :post__btn %>
        </div>
      <% end %>
      <div class="post__image">
        <%= image_tag @post.image, class: 'card__img' if @post.image.attached? %>
      </div>
      <div class="post__title">
        <%= @post.title%>
      </div>
      <%= link_to "#{@post.user.nickname}さんの回答", root_path, class: :post__user %>
      <div class="post__sentence">
        <%= @post.sentence%>
      </div>
     
      <div class="post__comments", id='messeges'>
        <ul class="comments_lists">
          <% @comments.reverse_each do |comment| %>
            <div id="comment_<%= comment.id %>">
              <%= render partial: 'likes/like', locals: {comment:comment}%>
            </div>
            <%= link_to comment.user.nickname, root_path, class: :comment_user %>
          <% end %>
        </ul>
      </div>
      <%= form_with model: [@post, @comment], local: true do |f|%>
            <div class="field">
               <%= f.label :message, "回答する" %><br />
               <%= f.text_field :message %>
            </div>
            <div class="actions">
               <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
    </div>
  </div>
</main>
