<div class="head_inner">
  <div class="nav">
    <div class="nav__left">
      <%= link_to image_tag("main_logo.png", class: :logo), root_path %>
    </div>
   
    <% if user_signed_in? %>
      <% if current_user.image.present? %>
      <div class="head_user">
      
      <%= image_tag current_user.image.variant(resize: '80x80'), class: 'head_image' if current_user.image.attached? %></p>
      <%= link_to "ようこそ、#{current_user.nickname}さん", user_path(current_user.id), class: :head_name %>
      <% else %>
      <div class="head_alt_user">
      <i class="fas fa-user-alt alt_user"></i>
      <%= link_to "ようこそ、#{current_user.nickname}さん", user_path(current_user.id), class: :head_alt %>
      <% end %>
      </div>
      <div class="nav__right">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
        <%= link_to "出題する", new_post_path, class: :nav__btn %><li>
      </div>
    <% else %>
      <div class="nav__right">
        <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
        <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
      </div>
    <% end %>
    </div>
</div>


<main class="show_main">
  <div class="show_inner">
    <div class="post__wrapper">
    <div class="post__wrapper__2">
      <div class="show__genre">
        <%= @post.genre.name %>
      </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="post__manage">
          <%= link_to "編集する", edit_post_path(@post.id), class: :post__btn %>
          <%= link_to "削除する", post_path(@post.id), method: :delete, class: :post__btn %>
        </div>
      <% end %>
      <div class="post__image">
        <%= image_tag @post.image, class: 'card__img' if @post.image.attached? %>
      </div>
      <div class="post__title">
        <p class="title_word"><%= @post.title%></p>
      </div>
      <%= link_to "#{@post.user.nickname}さんの回答", user_path(@post.user.id), class: :post__user %>
      <div class="post__sentence">
        <%= @post.sentence%>
      </div>
         
        <h2 class="point_title"><i class="fas fa-crown crown"></i>ポイントランキング<i class="fas fa-crown crown"></i></h2> 
       
        <div class="main_ranking">
        <% like = 0 %>
        <% j = 1 %>
        <% @comment_like.each.with_index(1) do |comment, i| %>
          <% if i == 1 %>
            <% like = comment.likes.count %>
          <% end %>
          <% if comment.likes.count != like %>
            <% j = i %>
          <div class= "ranking">
            <p class="ranking_number">第<%= j %>位</p>
            <p class="ranking_message"><%= comment.message %></p>
            <p class="ranking_user"><%= "by #{@post.user.nickname}" %></p>
            <p class= "smile"><i class="fas fa-grin-squint-tears unlike-btn"></i></p> 
            <% like = comment.likes.count %>
            <p class ="ranking_count"><%= comment.likes.count %></p>
          </div>
          <% else %>
            <div class= "ranking">
            <p ><% like = comment.likes.count %></p>
            <p class="ranking_number">第<%= j %>位</p>
            <p class="ranking_message"><%= comment.message %></p>
            <p class="ranking_user"><%= "by #{@post.user.nickname}" %></p>
            <p class= "smile"><i class="fas fa-grin-squint-tears unlike-btn"></i></p> 
            <p class ="ranking_count"><%= comment.likes.count %></p>
          </div>
          <% end %>
        <% end %>
        </div>

      <h2 class="answer_main"><i class="fas fa-lightbulb light"></i>回答一覧<i class="fas fa-lightbulb light"></i></h2>
      
      <div class="post__comments", id='messeges'>
        <ul class="comments_lists">
          <% @comments.reverse_each do |comment| %>
            <div id="comment_<%= comment.id %>">
              <%= render partial: 'likes/like', locals: {comment:comment}%>
            </div>
          <% end %>
        </ul>
      </div>
      </div>
      
      <% if user_signed_in? %>
      <%= form_with model: [@post, @comment], local: true do |f|%>
            <div class="field">
               <%= f.label :message, "回答する", class: :comment_word %><br />
               <%= f.text_field :message, class: :comment_field %>
            </div>
            <div class="actions">
               <%= f.submit "送信する", class: :comment_form__btn, id: "submit"  %>
            </div>
          <% end %> 
      <% end %>
    </div>
  </div>
</main>
